<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"odsi-learn-main odsi-learn-page","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group odsi-learn-main odsi-learn-page" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:post-featured-image {"aspectRatio":"3/1","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} /-->
	<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
